extends layout

block layout-content
  div.View.WelcomeView
    div.View.NavView
      h1.Banner Vestus Campaign
    div.Row
      div.View.CardView
        div.Message
          div.TitleSection
            h7.subitle Are You Ready toFloat on The Winds of Success?!
            h4.Title: Utilize Our Proven Search and Social Campaigns.
      div.View.CardView
        div.Message
          div.TitleSection
            h7.subitle Preparing for the long, arduous road ahead?!
            h4.Title: Utilize Conctact our development team!
    div.View.ButtonView
        div.NavButtons
          a(href="http://localhost:3000/login")
            div.NavButton.MyButton Login